<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Crud Node y Mysql</title>
</head>
<body>
    <nav class= "navbar navbar-dark bg-dark">
        <a href="/" class= "navbar-brand"> Crud Node y Mysql</a>
    </nav>